<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domaine">
            <h2><span jhiTranslate="trouvetonprofApp.domaine.detail.title">Domaine</span> {{domaine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trouvetonprofApp.domaine.titre">Titre</span></dt>
                <dd>
                    <span>{{domaine.titre}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.domaine.description">Description</span></dt>
                <dd>
                    <span>{{domaine.description}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.domaine.image">Image</span></dt>
                <dd>
                    <div *ngIf="domaine.image">
                        <a (click)="openFile(domaine.imageContentType, domaine.image)">
                            <img [src]="'data:' + domaine.imageContentType + ';base64,' + domaine.image" style="max-width: 100%;" alt="domaine image"/>
                        </a>
                        {{domaine.imageContentType}}, {{byteSize(domaine.image)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domaine', domaine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
