<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="annonce">
            <div class="container" style="padding-left: 0;">
                <div class="row">
                    <div class="col-3">
                        <dd>
                            <div *ngIf="annonce.image">
                                <a (click)="openFile(annonce.imageContentType, annonce.image)">
                                    <img [src]="'data:' + annonce.imageContentType + ';base64,' + annonce.image"
                                         style="width: 100px;" alt="annonce image"/>
                                </a>
                            </div>
                        </dd>
                    </div>
                    <div class="col-9">
                        <h1 class="mat-h1" style="margin-bottom: 0;"> {{annonce.titre}}</h1>
                        <hr>
                        <dl class="row-md jh-entity-details">
                            <div class="container" style="padding-left: 0;">
                                <div class="row">
                                    <div class="col-6">
                                        <dt><span jhiTranslate="trouvetonprofApp.annonce.status">Status</span></dt>
                                        <dd>
                                <span
                                        jhiTranslate="{{'trouvetonprofApp.Satut.' + annonce.status}}">{{annonce.status}}</span>
                                        </dd>
                                        <dt><span
                                                jhiTranslate="trouvetonprofApp.annonce.prixHoraire">Prix Horaire</span>
                                        </dt>
                                        <dd>
                                            <span>{{annonce.prixHoraire}} €</span>
                                        </dd>
                                    </div>
                                    <div class="col-6">
                                        <!--                                     <dt><span jhiTranslate="trouvetonprofApp.annonce.profil">Profil</span></dt>
                                                                             <dd>
                                                                                 <div *ngIf="annonce.profil">
                                                                                     <a [routerLink]="['/profil', annonce.profil?.id, 'view']">{{annonce.profil?.id}}</a>
                                                                                 </div>
                                                                             </dd>-->
                                        <dt><span>Note</span></dt>
                                        <dd style="margin-top: -1.7em;">
                                            <div *ngIf="moyenneNotes"
                                                 (click)="scrollToElement(commentaires)">
                                                <ng-template #t let-fill="fill">
                                                      <span class="star" [class.full]="fill === 100">
                                                        <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
                                                      </span>
                                                </ng-template>
                                                <ngb-rating style="outline: none;" [(rate)]="moyenneNotes" [starTemplate]="t" [readonly]="true"
                                                            max="5"></ngb-rating>
                                            </div>
                                        </dd>
                                        <dt style="margin-top: -1.4em;" *ngIf="cours?.length > 0"><span
                                                class="amazon-italic font-lite"
                                                style="color: #0066c0;cursor: pointer"
                                                (click)="scrollToElement(commentaires)">
                                            {{cours?.length}} commentaires</span></dt>
                                    </div>
                                </div>
                            </div>


                        </dl>
                    </div>
                </div>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <div class="container" style="padding-left: 0;margin-top: 3em;">
                <div class="col-12 main-details">
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="trouvetonprofApp.annonce.description">Description</span></dt>
                        <dd>
                            <span>{{annonce.description}}</span>
                        </dd>
                        <dt><span> Disponibilités </span></dt>
                        <dd>
                            <!--     <jhi-calendrier [annonce]="annonce"></jhi-calendrier>-->
                            <mgl-timeline focusOnOpen="true" [toggle]="toggle" [alternate]="alternate" [side]="side">
                                <div *ngIf="isDisponibilitesloaded">
                                    <mgl-timeline-entry *ngFor="let dispo of disponibilites; let i = index;"
                                                        (expand)="onExpandEntry($event, i)">
                                        <mgl-timeline-entry-header (click)="onHeaderClick($event)"
                                                                   style="cursor: pointer;">
                                            <div class="amazon-italic">{{dispo.header}}</div>
                                        </mgl-timeline-entry-header>
                                        <mgl-timeline-entry-content>
                                            <mat-nav-list style="padding-top: 0">
                                                <mat-list-item *ngFor="let content of dispo.content">
                                                    <div matLine class="amazon-italic"
                                                         style="text-align: center;color: #3d7e40;">{{content}}</div>
                                                </mat-list-item>
                                            </mat-nav-list>
                                            <div style="width: 100%;">
                                                <button style="width: 100%;" mat-raised-button color="primary">
                                                    Reserver
                                                </button>
                                            </div>
                                        </mgl-timeline-entry-content>
                                        <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                                                                [size]="size"
                                                                (click)="onDotClick($event)"></mgl-timeline-entry-dot>
                                    </mgl-timeline-entry>
                                    <mgl-timeline-entry (expand)="onExpandEntry($event, i)">
                                        <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                                            Demander une disponibilité
                                        </mgl-timeline-entry-header>
                                        <mgl-timeline-entry-content>
                                        </mgl-timeline-entry-content>
                                        <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                                                                [size]="size"
                                                                (click)="onDotClick($event)"></mgl-timeline-entry-dot>
                                    </mgl-timeline-entry>
                                </div>
                                <div *ngIf="!isDisponibilitesloaded">
                                    <mgl-timeline-entry
                                            (expand)="onExpandEntry($event, i)">
                                        <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                                            <div> Chargement en cours ...</div>
                                        </mgl-timeline-entry-header>
                                        <mgl-timeline-entry-content>
                                        </mgl-timeline-entry-content>
                                        <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                                                                [size]="size"
                                                                (click)="onDotClick($event)"></mgl-timeline-entry-dot>
                                    </mgl-timeline-entry>
                                </div>
                            </mgl-timeline>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="container" style="padding-left: 0;margin-top: 3em;" #commentaires>
                <div class="col-12">
                    <dl class="row-md jh-entity-details">
                        <dt *ngIf="cours?.length" id="commentaires" style="text-align: center">
                            <span> Commentaires </span></dt>
                        <dd *ngIf="cours?.length">
                            <div *ngFor="let cour of cours;">
                                <div class="font-lite"> {{ cour.cours.user.firstName }}</div>
                                <div class="font-lite"
                                     style="color: #555;">  {{ cour.date | date: 'dd MMMM yyyy'}} </div>
                                <div style="margin-top: -1.4em;margin-left: -3px;margin-bottom: -0.8em">
                                    <ng-template #t let-fill="fill">
                                                      <span class="star" [class.full]="fill === 100">
                                                        <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
                                                      </span>
                                    </ng-template>
                                    <ngb-rating [(rate)]="cour.note" [starTemplate]="t" [readonly]="true"
                                                max="5"></ngb-rating>
                                </div>
                                <p> {{ cour.commentaire }} </p>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annonce', annonce.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
