<div>
    <h2 id="page-heading">
        <span jhiTranslate="trouvetonprofApp.annonce.home.title">Annonces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-annonce" [routerLink]="['/annonce/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="trouvetonprofApp.annonce.home.createLabel">
            Create new Annonce
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="annonces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trouvetonprofApp.annonce.titre">Titre</span></th>
            <th><span jhiTranslate="trouvetonprofApp.annonce.description">Description</span></th>
            <th><span jhiTranslate="trouvetonprofApp.annonce.status">Status</span></th>
            <th><span jhiTranslate="trouvetonprofApp.annonce.profil">Profil</span></th>
            <th><span jhiTranslate="trouvetonprofApp.annonce.domaine">Domaine</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annonce of annonces ;trackBy: trackId">
                <td><a [routerLink]="['/annonce', annonce.id, 'view' ]">{{annonce.id}}</a></td>
                <td>{{annonce.titre}}</td>
                <td>{{annonce.description}}</td>
                <td jhiTranslate="{{'trouvetonprofApp.Satut.' + annonce.status}}">{{annonce.status}}</td>
                <td>
                    <div *ngIf="annonce.profil">
                        <a [routerLink]="['../profil', annonce.profil?.id, 'view' ]" >{{annonce.profil?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="annonce.domaine">
                        <a [routerLink]="['../domaine', annonce.domaine?.id, 'view' ]" >{{annonce.domaine?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/annonce', annonce.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/annonce', annonce.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annonce/'+ annonce.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
