<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-message-heading" jhiTranslate="trouvetonprofApp.message.home.createOrEditLabel">Create or edit a Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!message.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="message.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.message.utilisateur1" for="field_utilisateur1">Utilisateur 1</label>
                    <input type="text" class="form-control" name="utilisateur1" id="field_utilisateur1"
                        [(ngModel)]="message.utilisateur1" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.utilisateur1?.dirty && editForm.controls.utilisateur1?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.utilisateur1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.message.utilisateur2" for="field_utilisateur2">Utilisateur 2</label>
                    <input type="text" class="form-control" name="utilisateur2" id="field_utilisateur2"
                        [(ngModel)]="message.utilisateur2" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.utilisateur2?.dirty && editForm.controls.utilisateur2?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.utilisateur2?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.message.texte" for="field_texte">Texte</label>
                    <input type="text" class="form-control" name="texte" id="field_texte"
                        [(ngModel)]="message.texte" required maxlength="3000"/>
                    <div [hidden]="!(editForm.controls.texte?.dirty && editForm.controls.texte?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.texte?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.texte?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 3000 }">
                        This field cannot be longer than 3000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.message.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.message.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" name="profil" [(ngModel)]="message.profil" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilOption.id === message.profil?.id ? message.profil : profilOption" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
