<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-profil-heading" jhiTranslate="trouvetonprofApp.profil.home.createOrEditLabel">Create or edit a Profil</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!profil.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="profil.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="d-flex">
                        <input id="field_dateNaissance" type="datetime-local" class="form-control" name="dateNaissance" [(ngModel)]="dateNaissance" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateNaissance?.dirty && editForm.controls.dateNaissance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateNaissance?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.pays" for="field_pays">Pays</label>
                    <input type="text" class="form-control" name="pays" id="field_pays"
                        [(ngModel)]="profil.pays" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                        [(ngModel)]="profil.adresse" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.adresse?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="profil.telephone" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.telephone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" [(ngModel)]="profil.sexe" id="field_sexe"  required>
                        <option value="HOMME">{{'trouvetonprofApp.Sexe.HOMME' | translate}}</option>
                        <option value="FEMME">{{'trouvetonprofApp.Sexe.FEMME' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sexe?.dirty && editForm.controls.sexe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sexe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="profil.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === profil.user?.id ? profil.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trouvetonprofApp.profil.cours" for="field_cours">Cours</label>
                    <select class="form-control" id="field_cours" name="cours" [(ngModel)]="profil.cours" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coursOption.id === profil.cours?.id ? profil.cours : coursOption" *ngFor="let coursOption of cours; trackBy: trackCoursById">{{coursOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
