<div>
    <h2 id="page-heading">
        <span jhiTranslate="trouvetonprofApp.profil.home.title">Profils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profil" [routerLink]="['/profil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="trouvetonprofApp.profil.home.createLabel">
            Create new Profil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profils">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.dateNaissance">Date Naissance</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.pays">Pays</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.adresse">Adresse</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.telephone">Telephone</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.sexe">Sexe</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.user">User</span></th>
            <th><span jhiTranslate="trouvetonprofApp.profil.cours">Cours</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profil of profils ;trackBy: trackId">
                <td><a [routerLink]="['/profil', profil.id, 'view' ]">{{profil.id}}</a></td>
                <td>{{profil.dateNaissance | date:'medium'}}</td>
                <td>{{profil.pays}}</td>
                <td>{{profil.adresse}}</td>
                <td>{{profil.telephone}}</td>
                <td jhiTranslate="{{'trouvetonprofApp.Sexe.' + profil.sexe}}">{{profil.sexe}}</td>
                <td>
                    {{profil.user?.id}}
                </td>
                <td>
                    <div *ngIf="profil.cours">
                        <a [routerLink]="['../cours', profil.cours?.id, 'view' ]" >{{profil.cours?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profil', profil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profil', profil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'profil', { outlets: { popup: profil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
