<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="matiere">
            <h2><span jhiTranslate="trouvetonprofApp.matiere.detail.title">Matiere</span> {{matiere.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trouvetonprofApp.matiere.titre">Titre</span></dt>
                <dd>
                    <span>{{matiere.titre}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.matiere.description">Description</span></dt>
                <dd>
                    <span>{{matiere.description}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.matiere.domaine">Domaine</span></dt>
                <dd>
                    <div *ngIf="matiere.domaine">
                        <a [routerLink]="['/domaine', matiere.domaine?.id, 'view']">{{matiere.domaine?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/matiere', matiere.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
