<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disponibilite">
            <h2><span jhiTranslate="trouvetonprofApp.disponibilite.detail.title">Disponibilite</span> {{disponibilite.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trouvetonprofApp.disponibilite.date">Date</span></dt>
                <dd>
                    <span>{{disponibilite.date}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.disponibilite.duree">Duree</span></dt>
                <dd>
                    <span>{{disponibilite.duree}}</span>
                </dd>
                <dt><span jhiTranslate="trouvetonprofApp.disponibilite.annonce">Annonce</span></dt>
                <dd>
                    <div *ngIf="disponibilite.annonce">
                        <a [routerLink]="['/annonce', disponibilite.annonce?.id, 'view']">{{disponibilite.annonce?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disponibilite', disponibilite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
